<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>资料下载</title>
<link type="text/css" rel="stylesheet" href="css/message.css"/>
<style type="text/css">
	#nav{ width:1000px; height:33px; overflow:hidden;}
	#nav ul{ list-style-type:none; display:block;}
	#menubar li.line{ background:url(images/navline.jpg) no-repeat; width:1px; height:33px;}
	#menubar li{ width:165.5px; text-align:center; height:33px; line-height:33px; float:left; background:url(images/nav.jpg) no-repeat; overflow:hidden;}
	#menubar li:hover{ background:url(images/navon.jpg) no-repeat;}
	#menubar li a{ color:#ffffff; font-size:13px;}
	.menuinfo{ cursor:hand; background-color:#404040; color:#ffffff; width:155px; height:auto; min-height:30px; overflow:hidden; padding:5px; display:none; position:absolute;}
</style>
<script type="text/javascript">
	function onmouse(){
		document.getElementById("menuinfo").style.display="block";
		
	}
	function outmouse(){
		document.getElementById("menuinfo").style.display="none";
		
	}
</script>
</head>

<body>

<div class="main">

	<div class="top"></div>
    
    <!--  导航开始  -->
    <div id="nav">
    	<ul  id="menubar">
        	<li class="first">
            	<a href="index.html">领航首页</a>
            </li>
            <li class="line"></li>
        	<li class="first" onmousemove="onmouse()" onmouseout="outmouse()">
            	<a href="#">高级技师/中级技师</a>
                <div class="menuinfo" id="menuinfo" onmousemove="onmouse()" onmouseout="outmouse()">
                	<a href="#">高级人力资源师</a><br />
                	<a href="#">高级人力资源师</a><br />
                	<a href="#">高级人力资源师</a>
                </div>
            </li>
            <li class="line"></li>
        	<li class="first">
            	<a onmousemove="onmouse()" onmouseout="outmouse()"  href="#">CETTIC专业认证</a>
                <div class="menuinfo">高级人力资源师</div>
            </li>
            <li class="line"></li>
        	<li class="first">
            	<a onmousemove="onmouse()" onmouseout="outmouse()"  href="#">资格认证</a>
                <div class="menuinfo">高级人力资源师</div>
            </li>
            <li class="line"></li>
        	<li class="first">
            	<a onmousemove="onmouse()" onmouseout="outmouse()"  href="#">国际认证</a>
                <div class="menuinfo">高级人力资源师</div>
            </li>
            <li class="line"></li>
        	<li class="first">
            	<a onmousemove="onmouse()" onmouseout="outmouse()"  href="#">学历教育</a>
                <div class="menuinfo">高级人力资源师</div>
            </li>
        </ul>
    </div><!--  导航结束  -->
    
    <div class="tutu">
    	<div class="tutu1"><img width="188px" height="113px" src="images/tutu1.jpg" /></div>
    </div>
    
    <!--  中间部分开始  -->
    <div class="center">
    	
        <!--  中间部分的左边部分开始  -->
    	<div id="menu">
        	
            <span id="m1"><a href="#"><img src="images/jia.jpg"/>&nbsp;新闻咨询</a></span>
            <div id="div_m1">
            	<ul>
                	<li><a href="#"><img src="images/jian.jpg"/>&nbsp;企业动态</a></li>
                    <li><a href="#"><img src="images/jian.jpg"/>&nbsp;行业资讯</a></li>
                    <li><a href="#"><img src="images/jian.jpg"/>&nbsp;最新资讯</a></li>
                </ul>
            </div>
            
            <span id="m2"><a href="#"><img src="images/jia.jpg"/>&nbsp;资料下载</a></span>
            <div id="div_m2" class="hidden">
                <ul>
                	<li><a href="#"><img src="images/jian.jpg"/>&nbsp;企业动态</a></li>
                    <li><a href="#"><img src="images/jian.jpg"/>&nbsp;行业资讯</a></li>
                    <li><a href="#"><img src="images/jian.jpg"/>&nbsp;最新资讯</a></li>
                </ul>
            </div>
            
            <span id="m3"><a href="#"><img src="images/jia.jpg"/>&nbsp;线上学习</a></span>
            <span id="m4"><a href="#"><img src="images/jia.jpg"/>&nbsp;在线测试</a></span>
            <span id="m5"><a href="#"><img src="images/jia.jpg"/>&nbsp;客服中心</a></span>
            
        </div><!--  中间部分的左边部分结束  -->
        
        <!--  中间部分的右边部分开始  -->
        <div class="centerright">
        
        	<div class="zlxztitle"><img src="images/zlxztitle.jpg"/></div>
            <div class="zlxzarc">
            	&nbsp;&nbsp;&nbsp;&nbsp;铁路开通营运以来，公司认真贯彻"科学发展"重要思想，充分发扬民主管理，激发员工艰苦奋斗精神，推进了企业的逐年壮大和发展。至2012年12月31日止，已累计完成货物运量  万吨，货物周转量   万吨公里。地方铁路开通二十余年，促进了渝南地区交通事业的发展，唤醒了沉睡的地下资源，对振兴南川及周边的经济做出了重要贡献。
            </div>
            <div class="zlxzcontent">
            	
            </div>
        	
        </div><!--  中间部分的右边部分结束  -->
        
    </div><!--  中间部分结束  -->
    
</div>


<div class="bottom">
    <div class="bc">
        <div style="margin-left:15px; margin-top:10px; float:left;"><img src="images/bottomlogo.jpg" /></div>
        <div class="bcright">
            <div class="bcli">
                <ul>
                    <li><a href="#">集团首页</a></li>
                    <li class="line"></li>
                    <li><a href="#">关于领航</a></li>
                    <li class="line"></li>
                    <li><a href="#">加入我们</a></li>
                    <li class="line"></li>
                    <li><a href="#">联系我们</a></li>
                    <li class="line"></li>
                    <li><a href="#">加盟合作</a></li>
                    <li class="line"></li>
                    <li><a href="#">法律申明</a></li>
                </ul>
            </div>
            <div style="float:left; margin-left:20px; color:#7f7f7f;">全国免费咨询电话：400-098-1616</div>
            <div class="bcbottom">
                COPYRIGHT  @2011-2014,HRROUTE.ORG  京ICP备10027426  版权所有  北京众合领航教育咨询有限责任公司
            </div>
        </div>
        
    </div>
</div>

</body>
</html>
