/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, tr, td {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
body {
	background-color:#ffffff;
    font-size: 12px;
    font-family: "宋体", Arial, Helvetica;
    width:100%;
    height:100%;
}
a {
    text-decoration: none;
}
img {
    border: none;
    padding:0px;
    margin:0px;
}

/**********外围最主要的*******/
.main{ width:1000px; height:auto; overflow:hidden; margin:0px auto;}
.top{ width:1000px; height:75px; overflow:hidden; background:url(../images/top.jpg) no-repeat; margin:0px auto;}

.tutu{ width:1000px; height:132px; overflow:hidden; background:url(../images/tutu.jpg) no-repeat; margin-top:20px;}
.tutu .tutu1{ width:188px; height:113px; margin-left:11px; margin-top:13px;}


.center{ width:1000px; height:auto; overflow:hidden;}


.center .centerright{ height:auto; float:left; margin-left:10px; margin-top:10px; width:788px; overflow:hidden;}
.center .centerright .rleft{ width:489px; height:554px; float:left; overflow:hidden; background:url(../images/listborder.jpg) no-repeat;}
.center .centerright .rleft .content{ margin-left:14px; margin-top:28px; width:460px; overflow:hidden;}
.center .centerright .rleft .content ul li{ overflow:hidden; height:30px; line-height:30px;}
.center .centerright .rleft .content ul li .a{ float:left; width:398px; overflow:hidden;}
.center .centerright .rleft .content ul li .a a:hover{ text-decoration:underline;}
.center .centerright .rleft .content ul li .span{ float:left; color:#666666; overflow:hidden;}
.center .centerright .rleft .content ul li a{ color:#666666;}


.center .centerright .rright{ width:290px; height:554px; float:left; margin-left:9px; overflow:hidden;}

.center .centerright .rright .xwtj{ width:288px; height:259px; background:url(../images/xwtj.jpg) no-repeat; overflow:hidden;}
.center .centerright .rright .xwtj .content{ margin-top:20px; margin-left:14px; width:260px; overflow:hidden;}
.center .centerright .rright .xwtj .content ul li{overflow:hidden; height:25px; line-height:25px;}
.center .centerright .rright .xwtj .content ul li a{ color:#666666;}
.center .centerright .rright .xwtj .content ul li a:hover{ text-decoration:underline;}

.center .centerright .rright .zttj{ width:290px; height:285px; background:url(../images/zttj.jpg) no-repeat; overflow:hidden; margin-top:8px;}
.center .centerright .rright .zttj .content{ margin-top:25px; margin-left:14px; width:260px; overflow:hidden;}
.center .centerright .rright .zttj .content .tuli{ width:260px; height:74px; overflow:hidden;}
.center .centerright .rright .zttj .content .tuli .tu{ width:74px; height:74px; overflow:hidden; float:left;}
.center .centerright .rright .zttj .content .tuli .ulli{ float:left; margin-left:10px;}
.center .centerright .rright .zttj .content .tuli .ulli ul li{ height:25px; line-height:25px; overflow:hidden;}
.center .centerright .rright .zttj .content .tuli .ulli ul li a{ color:#666666;}
.center .centerright .rright .zttj .content .tuli .ulli ul li a:hover{ text-decoration:underline;}
.center .centerright .rright .zttj .content .xiaul{ width:460px; overflow:hidden; margin-top:10px;}
.center .centerright .rright .zttj .content .xiaul ul li{ overflow:hidden; height:26px; line-height:26px;}
.center .centerright .rright .zttj .content .xiaul ul li a{ color:#666666;}
.center .centerright .rright .zttj .content .xiaul ul li a:hover{ text-decoration:underline;}

/**********底部*******/
.bottom{ width:100%; height:84px; overflow:hidden; background:url(../images/shang.jpg) repeat-x;}
.bottom .bc{ width:1000px; height:84px; overflow:hidden; margin:0px auto;}
.bottom .bc .bcright{ margin-left:50px; margin-top:20px; float:left;  overflow:hidden;}
.bottom .bc .bcright .bcli{ float:left;}
.bottom .bc .bcright .bcli ul li{ float:left; width:70px; text-align:center; overflow:hidden;}
.bottom .bc .bcright .bcli ul li a{ color:#7f7f7f;}
.bottom .bc .bcright .bcli ul li.line{ background:url(../images/line.jpg) no-repeat; width:1px; height:12px;}
.bottom .bc .bcright .bcli ul li a:hover{ text-decoration:underline;}

.bottom .bc .bcright .bcbottom{ color:#7f7f7f; margin-left:11px; margin-top:30px;}



/***********新闻文章页******/
.centerright .arctitle{ width:100%; text-align:center; color:#176ca7; font-size:18px; font-weight:bold; margin-top:10px;}
.centerright .arcge{ width:785px; text-align:center; background:url(../images/arcge.jpg) no-repeat; height:11px; margin-top:20px;}
.centerright .arccontent{ width:100%; height:auto; border:solid 1px red; margin-top:20px;}